body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  background: linear-gradient(to top, #ecfbfd, #ecfbfd, #ecfbfd, #ecfbfd, #ecfbfd);
  color: #4a4a4a;
}

.navlink {
  color: #4a4a4a;
  letter-spacing: 2.7px;
}

.navlink:hover {
  color:#5762f2;
  cursor: pointer;
  text-decoration: none;
}

.arrow {
  color: #5762f2;
  font-weight: 900;
}

.arrow:hover {
  padding-left: 5px;
}


@media (max-width: 480px) {
  .mobile-hide {
    display: none;
  }
}
